/* shared style */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;

}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;

}


/* header section */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    margin: -8px;
    padding: 0;
}

.banner {
    padding: 30px 3px 0 150px;
    margin: 0;
    display: flex;
    align-items: center;
    /* width: 80%; */
    justify-content: space-around;

}

.banner-title {
    font-size: 70px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #272727;

}

.banner-content {
    max-width: 760px;
}

.banner-photo {

    width: 635px;
    height: 800px;
    padding: 50px 240px 0 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* main section start */


main section {
    margin-top: 130px;
}

/* feature section */
.feature {
    max-width: 1200px;
    /* padding: 0 240px; */
    margin: 0px auto;
    margin-top: 170px;
}


.feature-photo-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;


}

.feature-photo1 {
    padding: 100px 70px 0 70px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;

}

.feature-photo2 {
    padding: 100px 70px 0px 70px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 310px;
    height: 428px;

}

.feature-photo3 {
    padding: 100px 70px 0px 70px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 310px;
    height: 428px;
    display: flex;

}

.feature-photo-title {
    display: flex;
    justify-content: space-between;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* optional section */
.optional {

    margin: 0px 240px;
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.optional-photo1 {
    display: flex;
    justify-content: center;

}

.optional-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* hotdeal section */

.hotdeal {
    padding: 100px;
    margin-top: 150px;
    margin: -8px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotdeal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hotdeal-content {
    max-width: 760px;
    text-align: center;
    align-items: center;
    margin-right: 180px;
}

#sign-up-btn {
    margin-left: 15px;
}


/* instagram section */
.insta-photo {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

/* latest deal section */
.latest-deal {
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 220px;
    height: 449px;
    width: 1440px;
    padding: 110px 0 0 0;
}

.latest-deal-email {
    width: 600px;
    height: 62px;
    border-radius: 8px;
    border: 0;
}

.latest {
    display: flex;
    gap: 16px;
    padding: 0 0 0 300px;


}


/* customer review section */

.review {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 40px 0;
    margin-top: -10px;

  }
  
  .customer-review {
    /* max-width: 960px; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  .review1{
    max-width: 50%;

  }
  
  .customer-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin: 0 auto 10px; */
  }

  
  .customer-name {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }

/* footer section */

.footer {
    background: #111010;
    margin: -8px;
    height: 449px;
}

.footer-title {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 800;
    padding: 110px 0 0 0;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}